@model GrosHub.Models.User

@{
    ViewBag.Title = "ProfilePicture";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("ProfilePicture", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


    @Html.AntiForgeryToken()

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}
